.wishes {
    padding: 1rem;
    background-color: rgb(87, 85, 85);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
  }
.wishes h4 {
  color: whitesmoke;
  text-align: center;
  font-size: 1.5rem;
  }