.wish-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: whitesmoke;
  }
  
  .wish-item__description {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: space-around;
    flex: 1;
  }
  
  .wish-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 0.7;
    margin: 0 1rem;
    color: rgb(46, 46, 46);;
  }

  .wish-item p {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 0.2;
    margin: 0 1rem;
    color: rgb(99, 99, 99);;
  }
  
  .wish-item__price {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 0.1;
    margin: 0 1rem;
    color: rgb(46, 46, 46);
  }

  .wish-item__buy {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color:rgb(45, 142, 239);
    border: 1px solid rgb(99, 99, 99);
    padding: 0.5rem;
    border-radius: 12px;
  }
  
  @media (min-width: 580px) {
    .wish-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .wish-item__description h2 {
      font-size: 1.25rem;
    }
  
    .wish-item__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }